@using DomainUtil
@model PaginatedList<ClientManager.Web.Models.ClientViewModels.ClientDetailsViewModel>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover table-dark">
    <thead >
        <tr class="bg-primary">
            <th scope="col">
                @Html.DisplayName("Id")
            </th>
            <th scope="col">
                @Html.DisplayName("FirstName")
            </th >
            <th scope="col">
                @Html.DisplayName("LastName")
            </th>
            <th scope="col">
                @Html.DisplayName("BirthDate")
            </th>
            <th scope="col">
                @Html.DisplayName("NumberOfEventsBooked")
            </th>
            <th scope="col">
                @Html.DisplayName("AddedDate")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfEventsBooked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
