@using ClientManager.Web.Models.ClientViewModels
@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Send Email","SendMessage", "Contacts") |


<br/>
<div class="row">
    <div class="col-md-9">           
        <table class="table table-hover table-dark">
            <thead >
            <tr class="bg-primary">
                <th scope="col">
                    @Html.DisplayName("FirstName")
                </th >
                <th scope="col">
                    @Html.DisplayName("LastName")
                </th>
                <th scope="col">
                    @Html.DisplayName("BirthDate")
                </th>
                <th scope="col">
                    @Html.DisplayName("NumberOfEventsBooked")
                </th>
                <th scope="col">
                    @Html.DisplayName("AddedDate")
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in ViewData["clientsViewModel"] as List<ClientDetailsViewModel>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfEventsBooked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedDate)
                    </td>
                </tr>
            }
            </tbody>
        </table>
        

    </div>

    <div class="col-md-3">
       
    </div>
</div>
